.sectionWrapper{
    padding: 0 30px 60px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.faqWrapper{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;justify-content: space-around;
    align-items: center;
}